@{
	Layout = null;
}

<html>
	<head>
	<link rel="stylesheet" href="~/css/LogInStyle.css" asp-append-version="true" />
	</head>
	<body>
		<div class="login-form">
			<h1>EVENT MANAGER</h1>
			<form method="post" action="CheckUser" align="center">
			<p>User Name</p>
			<input type="text" placeholder="Username" name="UserName" minlength=7 maxlength="7" required />
			<p>Password</p>
			<input type="text" placeholder="Password" name="PassWord" minlength="7" maxlength="7" required/>
			<button type="submit"> Login </button>
			</form>
		</div>
	</body>
	<footer class="footer text-muted footstyle">
        <div class="container" style="color:white">
            &copy; 2022 - <b>Developed with ❤ by - </b> <a target="_blank" href="https://github.com/DivideE-ConqueR" style="color:white">

                <b>DividE-ConqueR</b>
                </a>
        </div>
    </footer>
</html>