@{
	Layout = null;
}

<html>
	<div>
		<form method="post" action="CheckUser">
			<label>Enter UserName:</label>
			<input type="text" placeholder="Username" name="username" />
			<br />
			<lable>Enter Password:</lable>
			<input type="text" placeholder="Password" name="Password" />
			<br />
			<input type="submit" value="LOG IN" />
		</form>
	</div>
</html>