@model College_Space.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/ButtonStyle.css" asp-append-version="true" />

<h1 style="color:whitesmoke">Edit Event Details</h1>
<hr />
<div class="row" >
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventId" />
            <div class="form-group" style="color:whitesmoke">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group" style="color:whitesmoke">
                <label asp-for="EventOrganizer" class="control-label"></label>
                <input asp-for="EventOrganizer" class="form-control" />
                <span asp-validation-for="EventOrganizer" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="color:whitesmoke">
                <label asp-for="EventType" class="control-label"></label>
                <input asp-for="EventType" class="form-control" />
                <span asp-validation-for="EventType" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="color:whitesmoke">
                <label asp-for="EventDate" class="control-label"></label>
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" data-bs-toggle="button" />
                <button class="btn btn-info"><a asp-action="Index">Back to List</a></button>
            </div>
        </form>
    </div>
    
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
