<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="myconnection" 
			 connectionString="Server=localhost\SQLEXPRESS01;Database=EmployeeDB;Trusted_Connection=true"
			 providerName="System.Data.Sqlclient"/>
	</connectionStrings>
</configuration>
